* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	background-image: url(../images/background-darkwood.png);
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h1, h2 {
	color: #333032;
}

hr {
	border-top: 1.5px solid #716B6E;
	border-bottom: 1.5px solid #716B6E;
	margin-bottom: 30px;
}

.header-wrap {
	background-color: #E0D4DA;
	width: 100%;
	height: 90px;
	position: relative;
	margin-bottom: 14px;
	border-bottom: 2px solid #77A8AC;
}

.header-content {
	width: 960px;
	margin: 0 auto;
}

.name {
	background-color: #333032;
	text-align: center;
	width: 20%;
	margin-bottom: 0px;
	position: absolute;
	bottom: -1px;
	border: 2px solid #77A8AC;
	border-bottom: 1px solid #77A8AC;
}

.name h1 {
	color: #E0D4DA;
}

.nav-links {
	float: right;
	margin-top: 36.5px;
}

span {
	color: #77A8AC;
}

.headlink {
	text-decoration: none;
	color: #333032;
	font-size: 17px;
}

.content {
	width: 960px;
	margin: 0 auto 0 auto;
	overflow: auto;
}

#contact h1, #portfolio h1, #about-me h1, .connect h1 {
	margin-top: 0px;
}

#about-me {
	background-color: #E0D4DA;
	width: 650px;
	padding: 30px 30px 10px 30px;
	float: left;
	border: 2px solid #77A8AC
}

#headshot {
	float: left;
	margin-right: 15px;
	border: 1px solid #ACF3F8;
}

p {
	color: #252324;
}

#portfolio {
	background-color: #E0D4DA;
	width: 650px;
	padding: 30px 30px 0px 30px;
	float: left;
	border: 2px solid #77A8AC
}

#hangman, #trivia, #rps {
	float: left;
}

#rpg, #rutgers {
	float: right;
}

#hangman, #trivia, #rps, #rpg, #rutgers {
	width: 280px;
	position: relative;
	margin-bottom: 30px;
}

h3 {
	background-color: #333032;
	color: #E0D4DA;
	text-align: center;
	position: absolute;
	bottom: 5px;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid #ACF3F8;
}

.img {
	width: 100%;
	border: 1px solid #ACF3F8;
}

#contact {
	background-color: #E0D4DA;
	width: 650px;
	padding: 30px 30px 30px 30px;
	float: left;
	border: 2px solid #77A8AC
}

#contact p {
	margin-bottom: 8px;
}

input {
	width: 100%;
	height: 40px;
	padding-left: 10px;
	border: 1px solid #ACF3F8;
}

#submit {
	background-color: #333032;
	color: #E0D4DA;
	width: 25%;
	margin-top: 10px;
	border: 1px solid #ACF3F8;
}

textarea {
	width: 100%;
	height: 200px;
	border: 1px solid #ACF3F8;
	margin-bottom: 20px;
}

.connect {
	background-color: #E0D4DA;
	width: 270px;
	padding: 25px 25px 25px 25px;
	float: right;
	border: 2px solid #77A8AC
}

#icon-gh {
	float: left;
	margin-right: 20px;
}

#icon-so {
	float: right;
}

.wrap {
	min-height: calc(100vh - 80px);
}

footer {
	background-color: #716B6E;
	text-align: center;
	width: 100%;
	height: 50px;
	margin: 30px 0px 0px 0px;
	padding-top: 6px;
	font-size: 10px;
	border-top: 8px solid #77A8AC;
}

footer p {
	color: #E0D4DA;
}